{{#if isLogged }}

    <!--{{#ul consoles id="consoles-menu" class='nav'}}-->
    <!--<a class="console-filter" href="#" data-filterBy="{{this}}">{{this}}</a>-->
            <!--{{/ul}}-->
    <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search...">
    </form>
    <ul class="nav pull-right" id="user-menu">
        <li>
            <button class="btn" id="logout">Logout</button>
        </li>
        <li>
            <a href="#/user/{{name}}">{{name}}</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<b class="caret"/></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <i class="icon-th-list"/><a href="#">List Layout</a>
                </li>
                <li>
                    <i class="icon-th"></i><a href="#">Grid Layout</a>
                </li>
            </ul>
        </li>
    </ul>
{{else}}
    <ul class="nav pull-right">
        <li>
            <button class="btn btn-info signin-btn">Sign Up</button>
        </li>
        <li class="signin">
            <button class="btn btn-primary signin-btn" id="login-btn" role="button" data-toggle="modal" data-target="#login-modal">Login
            </button>
            <div id="login-modal" class="modal hybrid-modal hide fade" data-backdrop="false">
                <form action="#" method="post" id="login-form">
                    <ul>
                        <li class="modal-header">
                            <h4>Connect using:</h4>
                        </li>
                        <li>
                            <div id="social">
                                <button class="btn">Facebook</button>
                                <button class="btn">Twitter</button>
                                <button class="btn">Google+</button>
                            </div>
                        </li>
                        <li class="divider">
                            <hr/>
                            <span>Or : </span>
                        </li>
                        <li>
                            <div id="logincreds">
                                <input type="text" id="username" name="username" placeholder="Username" autocomplete/>
                                <input type="password" id="password" name="password" placeholder="Password"/>
                            </div>
                        </li>
                        <li id="errorMsg" class="loginerror">
                            <div id="divErrors"></div>
                        </li>
                        <li>
                            <button id="login" class="btn-primary btn">Login</button>
                        </li>
                        <li class="forgot-pwd">
                            <a href="#/forgot">Forgot username or password?</a>
                        </li>

                    </ul>

                </form>
            </div>

        </li>
    </ul>



{{/if}}
